@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-s: #ff7f80;
    --color-a: #ffc07f;
    --color-b: #ffdf80;
    --color-c: #fdff7f;
    --color-d: #bfff7f;
    --color-e: #7fff7f;
    --color-f: #7fffff;
    --color-default: #cfcfcf;

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

section {
    @apply max-w-screen-xl w-full mx-auto;
}

.list {
    @apply max-w-screen-xl w-full bg-neutral-900 mx-auto flex flex-col select-none text-neutral-800;
}

.list .tier {
    @apply flex;
}

.list .tier > div {
    @apply w-full transition-all duration-200 ease-in-out flex flex-wrap;
}

.list .tier > div.drag-over,
#selection-items.drag-over {
    @apply bg-neutral-700;
}

.list aside {
    @apply text-balance text-center font-bold text-xl flex aspect-square w-20 h-auto items-center justify-center flex-wrap p-1;
    background-color: var(--color, var(--color-default));
    word-break: break-all;
}

.list aside span {
    @apply align-middle;
}

.selection ul {
    @apply flex gap-2 mx-auto w-fit py-4;
}

.selection ul li,
.selection ul li label {
    @apply hover:scale-110 transition-transform duration-200 ease-in-out cursor-pointer;
}

#selection-items {
    @apply border border-neutral-500 min-h-40 w-full bg-neutral-900 flex flex-wrap;

    &.drag-over-desktop {
        @apply bg-neutral-700 relative border-dashed border-green-400;

        &::before {
            content: "Drop Files";
            @apply text-4xl absolute inset-0 grid place-items-center;
        }
    }
}

.tier-li {
    @apply aspect-square w-20 h-auto cursor-grab overflow-hidden;
}

.tier-li img {
    @apply object-cover pointer-events-none;
}

.drag-preview {
    @apply opacity-50 pointer-events-none;
}
